{% extends 'base.html.twig' %}
{% block title %}{{evm.title}}{% endblock %}
{% block body %}
<div class="evm.title" style="background-image:url(/img/{{evm.coverImage}})">
    <div class="container">
        <h1>{{evm.title}}</h1>
        <p>{{evm.Introduction}}</p>
        <p class="h2">{{evm.content}}</p>
        <a href="#" class="btn btn-primary">fgfg</a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            fdf;d,falsed
            fdkfd4kfd4k4
            fdkfd4kfd4k4
            kdfdkfdkf
            dkf
            is definedfkd
            kdfdkfdkfdfk
            definedfkdf
            definedfkdfkdfmdkf
            definedfkdfdfkdkfddkfddf
            definedfkdfdk
        </div>
        <div class="col">
            <div class="row">
                <div class="col-4">
                    <img src="/img/{{evm.coverImage}}" alt="Sarin'olona nitarika lamesa">
                </div>
                <div class="col">
                    <h3>Nitarika ny lamesa</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
